{% extends "base.html" %}
{% load staticfiles %}

{% block title %}Projects{% endblock %}


{% block body %}


    <div class="container-fluid">
      <div class="row">
        <div class=" main">
        	{% for institute in institutes %}
        		{{institute.name}}<br/>
        		{{institute.address}}<br/>
        		{{institute.city}}<br/><br/>
        	{% endfor %}
	       </div>
      </div>
    </div>
    <div class="container">
  <div class="row">
    <div class="col-md-8" >
      <div class="row">
        <div class="col-md-6">
        </div>
        <div class="col-md-6">
          One
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          One
        </div>
        <div class="col-md-6">
          One
        </div>
      </div>
    </div>
    <div class="col-md-4" style="padding-right:20px; border-left: 1px solid #ccc;">
      <div class="row">
      Hello 1
      </div>
      <div class="row"> 
      Hello 2
      </div>
    </div>
  </div>
</div>

    
{% endblock %}

