{% extends "base.html" %}
{% load staticfiles %}

{% block title %}Projects{% endblock %}


{% block body %}

        <header style="background-image: url('{%static 'image/home_cover.png' %}'); ">
                <div class="header-content">
                        <div class="header-content-inner">
                                <h2 id="homeHeading">Your Favorite Source of Free Bootstrap Themes</h2>
                                <hr>
                                <div align="center">
                                <div class="col-md-3" >
                                </div>
                                <div class="col-md-6" >
                                    <div class="input-group" style="opacity:0.8">
                                        <input type="text" class="form-control" placeholder="Search for...">
                                        <span class="input-group-btn">
                                            <span style="cursor:pointer" type="button"><i style="font-size:35px;margin-left:10px"   class="material-icons">search</i></span>
                                        </span>
                                    </div><!-- /input-group -->
                                    </div><!-- /input-group -->
                                    <div class="col-md-3" >
                                </div>

                                </div><!-- /.col-lg-6 -->
                        </div>
                </div>
        </header>
<!--     <div class="container-fluid">
      <div class="row">
        <div class=" main">
            {% for institute in institutes %}
                {{institute.name}}<br/>
                {{institute.address}}<br/>
                {{institute.city}}<br/><br/>
            {% endfor %}
           </div>
      </div>
    </div> -->
    <div class="container-fluid">
      <div class="main">
        <div class="row">
          <div class="col-md-3">
          <h4 align="center"><span >Quick Links</span></h4>
              <div class="panel panel-default">
                <div class="panel-heading">
                  <h3 class="panel-title">Entrance Exams</h3>
                <div class="panel-body">
                  <button class="btn btn-default" disabled="">IIT-JEE</button>
                  <button class="btn btn-default" disabled="">AIPMT</button>
                  
                </div>
                </div>
              </div>
              <div class="panel panel-default">
                <div class="panel-heading">
                  <h3 class="panel-title">Computer Science</h3>
                <div class="panel-body">
                  <button class="btn btn-default" disabled="">Coding Blocks</button>
                  <button class="btn btn-default" disabled="">Coding Ninja</button>
                </div>
                </div>
              </div>


          </div>
          <div class="col-md-6">
          <h4 align="center"><span >Recommended Courses</span></h4>
            {% for institute in institutes %}
              <div class="panel panel-default">
                <div class="panel-heading">
                  <div class="row">
                  <div class="col-md-6" style="float:left">
                    <h3 class="panel-title">{{institue.image}}</h3>
                  </div>
                  <div class="col-md-6" style="float:left">
                    <h3 class="panel-title">{{institute.name}}, {{institute.state}} {{institute.rating}}</h3>
                  </div>
                  </div>
                  <div class="panel-body">
                    {{institute.description}}
                  </div>
                </div>
              </div>
            {% endfor %}
          </div>
          <div class="col-md-3">
          <h4 align="center"><span >Trending</span></h4>
            {% for institute in institutes %}
              <div class="panel panel-default">
                <div class="panel-heading">
                  <h3 class="panel-title">{{institute.name}}, {{institute.state}} {{institute.rating}}</h3>
                <div class="panel-body">
                  {{institute.description}}
                </div>
                </div>
              </div>
            {% endfor %}            
          </div>


    </div>
    </div>
    </div>

    
{% endblock %}

