{% extends "base.html" %}
{% load staticfiles %}

{% block title %}Projects{% endblock %}
{% block body %}

    <!-- Page Content -->
    <div class="container">

    <br>
        <div class="row">

            <div class="col-md-3">
                <p class="lead">{{institute.name}}</p>
                <a href="{{institute.instituteUrl}}">{{institute.name}}<a>
            </div>

            <div class="col-md-9">

                <div class="thumbnail">
                    <img class="img-responsive" src="{{institute.logo}}" alt="hello">
                    <div class="caption-full">
                        <h4><a href="{{institute.instituteUrl}}">{{institute.name}}</a>
                        </h4>
                        <p>{{institute.description}}</p>
                    </div>
                    <div class="ratings">
                        <p class="pull-right">{{institute.review_count}} 4 reviews</p>
                        <p>
                            Rating: {{institute.rating}}
                        </p>
                    </div>
                </div>
                <div class="well">

                <div class="row">
                <!-- TO be removed -->
                        <div class="col-md-12">
                            {{course.coursename}}
                            <span class="pull-right">Starts on {{course.date}}</span>
                            <p>{{course.description}}</p>
                        </div>
                                                <div class="text-right">
                            <a class="btn btn-success">Enroll</a>
                        </div>
                    </div>
                <!-- till here -->
                    <hr>
                    {% for course in courses %}
                    <div class="row">
                        <div class="col-md-12">
                            {{course.coursename}}
                            <span class="pull-right">Starts on {{course.date}}</span>
                            <p>{{course.description}}</p>
                        </div>
                                                <div class="text-right">
                            <a class="btn btn-success">Enroll</a>
                        </div>
                    </div>

                    <hr>
                    {% endfor %}


                </div>
                <div class="well">

                    <div class="text-right">
                        <a class="btn btn-success">Leave a Review</a>
                    </div>

                    <hr>

                    {% for review in reviews %}
                    <div class="row">
                        <div class="col-md-12">
                            <span class="pull-right">{{review.date}}</span>
                            <p>{{review.description}}</p>
                        </div>
                    </div>

                    <hr>
                    {% endfor %}

                </div>

            </div>

        </div>

    </div>
{% endblock %}
