{% load account %}

{% load staticfiles %}
<!DOCTYPE html>
<html>

<head>
	<script src="{%static 'js/jquery.min.js' %}"></script>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
	<link rel="stylesheet" href="{%static 'css/bootstrap.min.css' %}">
	<link rel="stylesheet" href="{%static 'css/bootstrap-theme.min.css' %}">
	<link rel="stylesheet" href="{%static 'css/creative.css' %}">
	<link rel="stylesheet" href="{%static 'css/footer-distributed-with-address-and-phones.css' %}">
	<script src="{%static 'js/bootstrap.min.js' %}"></script>
	<link rel="stylesheet" href="{%static 'css/shop-item.css' %}">
	<link rel="stylesheet" href="{%static 'css/shop-homepage.css' %}">
	<link rel="stylesheet" href="{%static 'css/styles.css' %}">

	<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css">
	
	<link href="{%static "css/dashboard.css" %}" rel="stylesheet">
		
	<link rel="stylesheet" href="{%static 'css/icon.css' %}">
	<link rel="stylesheet" href="{%static 'css/material.indigo-pink.min.css' %}">
	<script src="{%static 'js/material.min.js' %}"></script>

	<title>{% block title %}{% endblock %}</title>
</head>
<body>
	<!-- Modal -->
	<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
	  <div class="modal-dialog" role="document">
	    <div class="modal-content">
	      <div class="modal-header">
	        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
	        <h4 class="modal-title" id="myModalLabel">{% block modalTitle %}{% endblock %}</h4>
	      </div>
	      <div class="modal-body">
	        {% block modalBody %}{% endblock %}
	      </div>
	      <div class="modal-footer">
	        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
	      </div>
	    </div>
	  </div>
	</div>

    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/" style="color:white">CourseTube</a>
          <ul class="nav navbar-nav">
          	<li><a href="/institutes/" style="display:inline-block;color:white">Institutes</a></li>
          	<li><a href="/comapre/" style="display:inline-block;color:white">Compare</a></li>
  		  </ul>
        </div>
        <div id="navbar" class="navbar-collapse collapse" style="float:right;">
          <ul class="nav navbar-nav">
          	<li>
      				{% if user.id %}
      				<a class="dropdown-toggle" href="#" data-toggle="dropdown">Hello, {{user.first_name}} {{user.last_name}}<strong class="caret"></strong></a>
      				<div class="dropdown-menu" style="padding: 15px; padding-bottom: 10px;">
      				<button class="btn btn-default" onclick="location.href='{% url 'account_logout' %}';">Sign Out</button>
      				</div>
      				{% else %}
      					<a href="/registerAsStudent/" style="display:inline-block;">Sign In As A Student</a>
      					<a href="/registerAsInstitute/" style="display:inline-block;">Sign In As An Institute</a>
      				{% endif %}
      		</li>
          </ul>
        </div>
      </div>
    </nav>


	{% block body %}{% endblock %}

	<footer class="footer-distributed">
		<div class="footer-left">
			<h3>Course<span>Tube</span></h3>
			<p class="footer-links">
				<a href="/">Home</a>
				·
				<a href="/">Blog</a>
				·
				<a href="/">Faq</a>
				·
				<a href="/">Contact</a>
			</p>
			<p class="footer-company-name">coursetube &copy; 2015</p>
		</div>
		<div class="footer-center">
			<div>
				<i class="fa fa-map-marker"></i>
				<p><span>IIIT Delhi</span> New Delhi, Delhi, India</p>
			</div>
			<div>
				<i class="fa fa-phone"></i>
				<p>+91 555 123456</p>
			</div>
			<div>
				<i class="fa fa-envelope"></i>
				<p><a href="mailto:support@company.com">support@coursetube.com</a></p>
			</div>
		</div>
		<div class="footer-right">
			<p class="footer-company-about">
				<span>About Us</span>
				Lorem ipsum dolor sit amet, consectateur adispicing elit. Fusce euismod convallis velit, eu auctor lacus vehicula sit amet.
			</p>
			<div class="footer-icons">
				<a href="http://www.nagarro.com/us/en"><i class="fa fa-facebook"></i></a>
				<a href="http://www.nagarro.com/us/en"><i class="fa fa-twitter"></i></a>
				<a href="http://www.nagarro.com/us/en"><i class="fa fa-linkedin"></i></a>
				<a href="http://www.nagarro.com/us/en"><i class="fa fa-github"></i></a>
			</div>
		</div>
	</footer>
</body>
</html>